#/**
# Copyright (C) 2015 Institut de Recherche Technologique SystemX and OpenWide.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Mickaël Tansorier (mickael.tansorier@openwide.fr)
# @brief config file for i2c emulator options
# */

menu "I2C Emulators"

config CONFIG_EMU_I2C
	tristate "Enable i2c Emulators"
	default y
	help
		Enable/Disable Console Emulators.

config CONFIG_EMU_I2C_VIRTIO
	tristate "VirtIO i2c Emulator"
	depends on CONFIG_EMU_I2C
	depends on CONFIG_EMU_VIRTIO && CONFIG_I2C && CONFIG_I2C_IMX
	default y
	help
		Enable/Disable VirtIO i2c Emulator.

endmenu

